<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>                
        <!-- Name -->
        <div class="control-group">
            <%= f.label "First Name",:class => "control-label" %>
            <div class="controls">
                <%= f.text_field :first_name, :class =>"input-xlarge", :required => "required" %>
            </div>
        </div>
        
        <div class="control-group">
            <%= f.label "Last Name",:class => "control-label" %>
            <div class="controls">
                <%= f.text_field :last_name, :class =>"input-xlarge", :required => "required" %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label "Role",:class => "control-label" %>
            <div class="controls">
                <%= f.select(:role_id, options_for_select(Role.all.collect {|p| [p.name,p.id] }, "Select Role"), {},{ :class => 'form-control' }) %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label "Gender",:class => "control-label" %>
            <div class="controls">
                <%= f.select(:sex, options_for_select(["Female", "Male"].collect {|p| [p] }, "Select Gender"), {},{ :class => 'form-control' }) %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label "Phone Number",:class => "control-label" %>
            <div class="controls">
                <%= f.text_field :phone_number, :class =>"input-xlarge", :required => "required" %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label "Email",:class => "control-label" %>
            <div class="controls">
                <%= f.text_field :email, :class =>"input-xlarge", :required => "required" %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label "Cast",:class => "control-label" %>
            <div class="controls">
                <%= f.text_field :cast, :class =>"input-xlarge", :required => "required" %>
            </div>
        </div>
        
        <div class="control-group">
            <%= f.label "Ethnicity",:class => "control-label" %>
            <div class="controls">
                <%= f.text_field :ethnicity, :class =>"input-xlarge", :required => "required" %>
            </div>
        </div>
        
        <div class="control-group">
            <%= f.label "Address",:class => "control-label" %>
            <div class="controls">
                <%= f.text_area :address, :class =>"input-xlarge", :required => "required" %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :password, :class => "control-label" %>
            <div class="controls">
                <%= f.password_field :password, :class =>"input-xlarge", :required => "required" %>
            </div>
        </div>
        
        <div class="control-group">
            <%= f.label :password_confirmation, :class => "control-label" %>
            <div class="controls">
                <%= f.password_field :password_confirmation, :class =>"input-xlarge", :required => "required" %>
            </div>
        </div>
        
        <!-- Submit -->
        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success">Save</button>
                <%=link_to "Cancel", users_path, :class => "btn" %>
            </div>
        </div>
    </fieldset>
   	<% end %>

<%= render :partial => "devise/shared/links" %>
