<div class="container">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-6">
      <%= render "form_show", {:profile => @profile} %>
    </div>
    <div class="col-lg-4">
      <legend class="text-left">Project bidding</legend>
        <% if @profile.user.bid_projects.size > 0 %>
          <ul class="list-group">
            <% @profile.user.bid_projects.each do |p| %>
              <%= link_to "#{p.project.name} - $#{p.cost}", admin_project_path(p.project), :method => :get, :class => "list-group-item" %>
            <% end %>
          </ul>
        <% else %>
          Not yet bid any project yet
        <% end %>
    </div>
  </div>
</div>