
<%= form_for(user, :url => {:action => action}, :method => :post , :html => {:class => 'form-horizontal'} ) do |f| %>
  
  <fieldset>
    <legend class="text-left">Register</legend>
    <% if user.errors.any?%>
      <div class="alert alert-danger">
        <h4><%= pluralize(user.errors.count, "error") %> prohibited this post from being saved:</h4>
        <ul>
          <% user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="alert alert-info">
      After you create your account, you will automatically link to fill out your profile information.
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Email</label>
      <div class="col-md-8">
        <%= f.email_field :email, :class =>"form-control", :required => "required", :placeholder => "Your email address" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Password</label>
      <div class="col-md-8">
        <%= f.password_field :password, :class =>"form-control", :required => "required", :placeholder => "Your new password" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="name">Confirmation Password</label>
      <div class="col-md-8">
        <%= f.password_field :password_confirmation, :class =>"form-control", :required => "required", :placeholder => "Your new confirmation password" %>
      </div>
    </div>

    <!-- Form actions -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="name"></label>
      <div class="col-md-8">
        <button class="btn btn-success">Register</button>
      </div>
    </div>
  </fieldset>
<% end %>
  