<div class="container">
  <div class="pull-right right-menu" style="padding-right:15px;">
    <%= link_to " Post More Project", new_project_path(), :method => :get %> |
    <%= link_to " Support ", "#", :method => :get %>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <center>
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle">
		  </center>
      <h3>Joe Sixpack</h3>
      <label> Male </label><br/>
      <label> Web Developer </label><br/>
      <label> Skill : PHP and Ruby </label><br/>
      <a href="mailto:<%= current_user.email %>"><label><%= current_user.email %></label></a><br/>
      <label> 85516222172 </label><br/>
    </div>
    <div class="col-lg-9">
      <h4> Notifications </h4>
      <div class="well">

      </div>
      <h4> My Projects </h4>
      <div class="well">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Project</th>
            <th>Consultant</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Budget</th>
          </thead>
          <% if current_user.projects.size > 0 %>
            <% current_user.projects.each do |p| %>     
              <tbody>
                <tr>
                  <td><%= p.name %></td>
                  <td><%= p.consultant_name %></td>
                  <td><%= p.start_date.to_date %></td>
                  <td><%= p.end_date.to_date %></td>
                  <td><%= p.budget %></td>
                </tr>
              </tbody>
            <% end %>
          <% else %>

          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>