<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <center>
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle">
		  </center>
      <h3>Joe Sixpack</h3>
      <label> Male </label><br/>
      <label> Web Developer </label><br/>
      <label> Skill : PHP and Ruby </label><br/>
      <a href="mailto:<%= current_user.email %>"><label><%= current_user.email %></label></a><br/>
      <label> 85516222172 </label><br/>
    </div>
    <div class="col-lg-6">
      <h4> Notifications </h4>
      <div class="well">Content Two</div>
      <h4> My Projects </h4>
      <div class="well">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Project</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Cost</th>
          </thead>
          <% current_user.consult_projects.each do |p| %>     
            <tbody>
              <tr>
                <td><%= p.name %></td>
                <td><%= p.start_date.to_date %></td>
                <td><%= p.end_date.to_date %></td>
                <td>$<%= p.consultant_cost %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-lg-3">
      <h4> Project you may interested </h4>
      <div class="well">
        <ul>
          <li class=""><a href="http://bootsnipp.com/blog"><span class="glyphicon glyphicon-pencil"></span> Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>