<div class="container">
  <div class="row">
  	<div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <%= render "form", {:user => @user, :action => "save_employer" } %>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>