<div class="container">
	<div class="row">
		<div class="span5">
      <table id="mytable" class="table table-border table-striped">
          <thead>
            <th>Project</th>
            <th>Category</th>
            <th>Employer</th>
            <th>Freelancer</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Budget</th>
            <th></th>
          </thead>
          <% if @projects.size > 0 %>
            <% @projects.each do |p| %>     
              <tbody>
                <tr>
                  <td><%= link_to p.name, admin_project_path(p), :method => :get %></td>
                  <td><%= p.industry %></td>
                  <td><%= p.employer_name %></td>
                  <td><%= p.consultant_name %></td>
                  <td><%= p.start_date.to_date %></td>
                  <td><%= p.end_date.to_date %></td>
                  <td>$<%= p.budget %></td>
                  <td>
                    <%= link_to raw("<span class='glyphicon glyphicon-edit'></span> Edit"), edit_admin_project_path(p), :method => :get, :class => 'btn btn-info btn-xs' %>
                    <%= link_to raw("<span class='glyphicon glyphicon-remove'></span> Del"), admin_project_path(p), :method => :delete, :class => 'btn btn-danger btn-xs' %>
                  </td>
                </tr>
              </tbody>
            <% end %>
          <% else %>
            No project registered
          <% end %>
        </table>
      </div>
	</div>
</div>