<div class="container">
  <div class="row">
  	<div class="col-lg-1">
    </div>
    <div class="col-lg-6">
      <%= render "form_show", {:project => @project} %>
    </div>
    <div class="col-lg-4">
    	<legend class="text-left">Who bidding this project</legend>
    		<% if @project.bid_projects.size > 0 %>
	        <ul class="list-group">
	          <% @project.bid_projects.each do |p| %>
	            <%= link_to "#{p.user.display_name} - $#{p.cost}", admin_freelancer_path(p.user), :method => :get, :class => "list-group-item" %>
	          <% end %>
	        </ul>
          <% if @project.consultant %>
            <legend class="text-left">Project Assignment</legend>
            This project is successfully assigned to <%= link_to @project.consultant.display_name, admin_freelancer_path(@project.consultant), :method => :get %>
          <% end %>
	      <% else %>
	      	No bidding yet
	      <% end %>
    </div>
  </div>
</div>