<div class="container">
	<legend class="text-left">About US</legend>
	<p>
		SabayTrade is an online freelancing community. We are working inspire young Cambodians to be independent by using their skills to earn their living and, most importantly, to build their confidence in business or working world. 
	</p>
	<p>
		We encourage young professionals around the country to trade their professional skills for money rather than asking for money.
	</p>
	<b> How It Works </b><br />
	It is very simple
  <div class="row" style="margin: 10px 0px;">
    <div class="col-lg-6">
    	<legend class="text-left" style="font-size:15px;">Employers</legend>
    	<ol>
    		<li>Employers have projects to be done.</li>
    		<li>Employers register in SabayTrade.</li>
    		<li>Employers post the projects in SabayTrade.</li>
    		<li>SabayTrade will contact to confirm.</li>
    		<li>Projects display in SabayTrade.</li>
    	</ol>
    </div>
    <div class="col-lg-6">
    	<legend class="text-left" style="font-size:15px;">Freelancers</legend>
    	<ol>
    		<li>Freelancers want projects to do.</li>
    		<li>Freelancers register in SabayTrade.</li>
    		<li>Freelancers bid the project that they can do.</li>
    		<li>Freelancers will be contacted if they get the project.</li>
    		<li>Freelancers do the work; Employers pay the money.</li>
    	</ol>
    </div>
  </div>
</div>