<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@contact_us, :url => {:action => "create", :controller => 'contact_us'} , :html => {:class => 'form-horizontal'} ) do |f| %>    
          <fieldset>
            <legend class="text-left">Contact and Supports</legend>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">First Name</label>
              <div class="col-md-9">
                <%= f.text_field :first_name, :class =>"form-control", :required => "required", :placeholder => "Your first name" %>
              </div>
            </div>

            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Last Name</label>
              <div class="col-md-9">
                <%= f.text_field :last_name, :class =>"form-control", :required => "required", :placeholder => "Your last name" %>
              </div>
            </div>
    
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Your E-mail</label>
              <div class="col-md-9">
                <%= f.text_field :email, :class =>"form-control", :required => "required", :placeholder => "Your email" %>
              </div>
            </div>

            <!-- Subject input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Subject</label>
              <div class="col-md-9">
                <%= f.text_field :subject, :class =>"form-control", :required => "required", :placeholder => "Your subject" %>
              </div>
            </div>
    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Your message</label>
              <div class="col-md-9">
                <%= f.text_area :description, :class =>"form-control", :required => "required", :placeholder => "Please enter your message here...", :row => "5" %>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button class="btn btn-primary">Send</button>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
</div>
