
<div class="text-center">
  <div class="subtitle" style="margin-top:30px;">
    How it works. 
  </div>
  <br />
  <div class="vid">
    <iframe width="560" height="315" src="//www.youtube.com/embed/ac7KhViaVqc" allowfullscreen=""></iframe>
  </div>
  <br />
  <%= link_to "Be an employer", be_an_employer_path(), :method => :get, :class => "btn btn-success btn-lg longbutton" %>
  <%= link_to "Be a freelancer", be_a_freelancer_path(), :method => :get, :class => "btn btn-success btn-lg longbutton" %>
  <br />
  <br />
</div>
<div class="clear"></div>