<center>
  <div class="row">
    <div class="col-lg-4">
      <img src="/developer.jpg" alt="..." class="img-rounded dashboard">
      <center>
        <a href="<%= register_freelancer_path() %>" class="btn btn-info">Freelancers</a>
      </center>
    </div>

    <div class="col-lg-4">
      <img src="/project.jpg" alt="..." class="img-rounded dashboard">
      <center>
        <a href="<%= projects_path() %>" class="btn btn-info">Projects</a>
      </center>
    </div>

    <div class="col-lg-4">
      <img src="/employer.jpg" alt="..." class="img-rounded dashboard">
      <center>
        <a href="<%= register_employer_path() %>" class="btn btn-info">Employers</a>
      </center>
    </div>
  </div>
  <h5>Get Your Work Done With the Right People and Price.</h5>
</center>