<%= form_for(project, :url => {:action => action} , :method => :put, :html => {:class => 'form-horizontal'} ) do |f| %>       
  <fieldset>
    <legend class="text-left">Project Assignment</legend>
    <div class="form-group">
      <label class="col-md-3 control-label">Consultant</label>
      <div class="col-md-9">
        <%= f.select(:consultant_id, options_for_select(@bid_projects.collect {|p| [p.user.display_anonymous_name, p.user.id] }, f.object.consultant_id), {},{ :class => 'form-control' }) %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">Budget</label>
      <div class="col-md-9">
        <%= f.text_field :consultant_cost, :class =>"form-control", :required => "required", :placeholder => "Agreement project cost ($)" %>
      </div>
    </div>

    <!-- Form actions -->
    <div class="form-group">
      <label class="col-md-3 control-label" ></label>
      <div class="col-md-9">
        <button class="btn btn-success">Assign Project</button>
      </div>
    </div>
        
  </fieldset>
<% end %>
