<%= form_for(project, :url => {:action => action} , :method => :post, :html => {:class => 'form-horizontal', :onsubmit => "return validateBid()"} ) do |f| %>    
  <% if @project.errors.any?%>
    <div class="alert alert-danger">
      <h4><%= pluralize(@project.errors.count, "error") %> prohibited this post from being bid:</h4>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>   
  <fieldset>
    
    <div class="form-group">
      <label class="col-md-3 control-label">Your bid</label>
      <div class="col-md-9">
        <%= f.text_field :cost, :class =>"form-control", :required => "required", :placeholder => "Agreement project cost ($)" %>
      </div>
    </div>

    <input type="hidden" value='<%= lowest_bid %>' id="lowest_bid" >

    <!-- Form actions -->
    <div class="form-group">
      <label class="col-md-3 control-label" ></label>
      <div class="col-md-9">
        <button class="btn btn-success">Agree to bid</button>
      </div>
    </div>
  </fieldset>
<% end %>

<script>
  function validateBid(){
    if(parseInt($("#bid_project_cost").val()) > parseInt($("#lowest_bid").val())){
      alert("Your bid is not accepted. Latest bid is $" + $("#lowest_bid").val().toString());
      return false;
    }
    return true;
  }
</script>