<%= form_for(project, :url => {:action => action} , :html => {:class => 'form-horizontal'} ) do |f| %>       
  <fieldset>

    <div class="form-group">
      <label class="col-md-3 control-label">Project Title</label>
      <div class="col-md-9">
        <%= f.text_field :name, :class =>"form-control", :required => "required", :placeholder => "Your project title" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">Description</label>
      <div class="col-md-9">
        <%= f.text_area :description, :class =>"form-control tinymce", :required => "required", :placeholder => "Please enter your project description here..." %>
      </div>
    </div> 

    <div class="form-group">
      <label class="col-md-3 control-label" for="name">Industry</label>
      <div class="col-md-9">
        <%= f.select(:industry, options_for_select(Industry::INDUSTRY.collect {|key,value| [key,value] }, f.object.industry), {},{ :class => 'form-control', :onchange => 'queryPosition(this)' }) %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" for="name">Sub Industry</label>
      <div class="col-md-9">
        <%= f.select(:sub_industry, options_for_select(Industry.selected_position(project.industry).collect {|key,value| [key,value] }, f.object.sub_industry), {},{ :class => 'form-control', :onchange => 'queryPosition(this)' }) %>
      </div>
    </div>   

    <div class="form-group">
      <label class="col-md-3 control-label">Budget</label>
      <div class="col-md-9">
        <%= f.text_field :budget, :class =>"form-control", :required => "required", :placeholder => "Your project budget" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" >Deadline</label>
      <div class="col-md-9">
        <%= f.text_field :end_date, :class =>"form-control datepicker", :required => "required", :placeholder => "Your project deadline" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" >Tags</label>
      <div class="col-md-9">
        <%= f.text_field :tags, "data-role" => "tagsinput",  :class =>"form-control", :required => "required" %>
      </div>
    </div>


    <!-- Form actions -->
    <div class="form-group">
      <label class="col-md-3 control-label" ></label>
      <div class="col-md-9">
        <button class="btn btn-success">Update The Project</button><a href="<%= employers_path() %>" class="btn btn-danger">Cancel</a>
      </div>
    </div>
        
  </fieldset>
<% end %>

<script>
    $('.datepicker').datepicker({format: 'mm-dd-yyyy'})
</script>