<%= form_for(project, :url => {:action => action} , :html => {:class => 'form-horizontal'} ) do |f| %>       
  <fieldset>
    <legend class="text-left">New Project</legend>
<!--     <div class="form-group">
      <label class="col-md-3 control-label" for="name">Project Type</label>
      <div class="col-md-9">
        <%= f.select(:project_type_id, options_for_select(ProjectType.all.collect {|p| [p.name,p.id] }, "Select type"), {},{ :class => 'form-control' }) %>
      </div>
    </div> -->

    <div class="form-group">
      <label class="col-md-3 control-label" for="name">Project Title</label>
      <div class="col-md-9">
        <%= f.text_field :name, :class =>"form-control", :required => "required", :placeholder => "Your project title" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" for="name">Industry</label>
      <div class="col-md-9">
        <%= f.select(:industry, options_for_select(Industry::INDUSTRY.collect {|key,value| [key,value] }, f.object.industry), {},{ :class => 'form-control', :onchange => 'queryPosition(this)' }) %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" for="name">Sub Industry</label>
      <div class="col-md-9">
        <%= f.select(:sub_industry, options_for_select(Industry.selected_position(project.industry).collect {|key,value| [key,value] }, f.object.sub_industry), {},{ :class => 'form-control', :onchange => 'queryPosition(this)' }) %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" for="name">Description</label>
      <div class="col-md-9">
        <%= f.text_area :description, :class =>"form-control", :required => "required", :placeholder => "Please enter your project description here..." %>
      </div>
    </div>    

    <div class="form-group">
      <label class="col-md-3 control-label" for="name">Budget</label>
      <div class="col-md-9">
        <%= f.text_field :budget, :class =>"form-control", :required => "required", :placeholder => "Your project budget" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" for="name">Deadline</label>
      <div class="col-md-9">
        <%= f.text_field :end_date, :class =>"form-control datepicker", :required => "required", :placeholder => "Your project deadline" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" for="name">Tags</label>
      <div class="col-md-9">
        <%= f.text_field :tags, "data-role" => "tagsinput",  :class =>"form-control", :required => "required" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" for="name">Status</label>
      <div class="col-md-9">
        <%= f.select(:status, options_for_select(Project::STATUS.collect {|key,value| [key,value] }, f.object.status), {},{ :class => 'form-control', :onchange => 'queryPosition(this)' }) %>
      </div>
    </div>


    <!-- Form actions -->
    <div class="form-group">
      <label class="col-md-3 control-label" ></label>
      <div class="col-md-9">
        <button class="btn btn-success">Post The Project</button>
      </div>
    </div>
        
  </fieldset>
<% end %>

<script>
    $('.datepicker').datepicker({format: 'mm-dd-yyyy'})
</script>