<form class='form-horizontal' >   
  <fieldset>
    <legend class="text-left"><%= project.name %><h5>Posted by <%= link_to project.user.display_name, employer_path(project.user), :method => :get %></h5></legend>

    <div class="form-group">
      <label class="col-md-3 control-label">Industry</label>
      <div class="col-md-9 top-seven">
        : <%= project.industry %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">Sub Industry</label>
      <div class="col-md-9 top-seven">
        : <%= project.sub_industry %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">Description</label>
      <div class="col-md-9 top-seven">
        : <%= project.description %>
      </div>
    </div>    

    <div class="form-group">
      <label class="col-md-3 control-label">Budget</label>
      <div class="col-md-9 top-seven">
       : $<%= project.budget %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" >Deadline</label>
      <div class="col-md-9 top-seven">
        : <%= project.end_date.to_date() %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" >Tags</label>
      <div class="col-md-9 top-seven">
        : <%= project.tags %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">Staus</label>
      <div class="col-md-9 top-seven">
        : <%= project.status %>
      </div>
    </div>

    <!-- Form actions -->
    <% if current_user and current_user.is_employee? %>
      <div class="form-group">
        <label class="col-md-3 control-label" ></label>
        <div class="col-md-9">
          <%= link_to "Edit Project", edit_project_path(project), :method => :get, :class => "btn btn-success" %>
          <%= link_to "Cancel", employers_path(), :method => :get, :class => "btn btn-danger" %>
        </div>
      </div>
    <% end %>
        
  </fieldset>
</form>
