<div class="container">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-6">
      <%= render "form_show", {:project => @project} %>
    </div>
    <div class="col-lg-4">
      <legend class="text-left">Who bidding this project</legend>
        <% if @project.bid_projects.size > 0 %>
          <ul class="list-group">
            <% @project.bid_projects.each do |p| %>
              <%= link_to "#{p.user.display_anonymous_name}", "javascript:void(0)", :method => :get, :class => "list-group-item" %>
            <% end %>
          </ul>
          <% if @project.bid_by_user current_user%>
            You already bid this project with the cost of $<%= @project.bid_projects.where("user_id = ?", current_user.id).first.cost %>
          <% else %>
            <% if current_user.type.name == "freelancer" %>
              <legend class="text-left">Bid this project</legend>
              <%= render "bid_form", {:project => @project.bid_projects.new(:user => current_user || nil), :action => "post_bid" } %>
            <% else %>
              
            <% end %>
          <% end %>
          <% if @project.consultant %>
            <legend class="text-left">Project Assignment</legend>
            This project is successfully assigned to <%= link_to @project.consultant.display_name, admin_freelancer_path(@project.consultant), :method => :get %>
          <% end %>
        <% else %>
          No bidding yet <br /><br />
          <legend class="text-left">Bid this project</legend>
          <%= render "bid_form", {:project => @project.bid_projects.new(:user => current_user || nil), :action => "post_bid" } %>
        <% end %>
    </div>
  </div>
</div>