<div class="container dynamicTile">
  <center>
    <p>
      <h3> Most Visited Projects </h3>
    </p>
  </center>
  <div class="row ">
    <% @active_projects.each do |p| %>     
      <div class="col-sm-2 col-xs-4 well" style="margin:5px;">
      	<div id="tile1" class="tile">
           <div class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                  <h4> <%= link_to p.name, project_path(p), :method => :get %> </h4>
                  <h5> <%= p.tags %></h5>
                  <h5> $<%= p.budget %></h5>
              </div>
              
            </div>
          </div>
      	</div>
    	</div>
    <% end %>
  </div>
  <center>
    <p>
      <h3> All Active Projects </h3>
    </p>
  </center>
  <table id="mytable" class="table table-border table-striped">
    <thead>
      <th>Project</th>
      <th>Category</th>
      <th>Relevant Skill</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Budget</th>
    </thead>
    <% @projects.each do |p| %>     
      <tbody>
        <tr>
          <td><%= link_to p.name, project_path(p), :method => :get %></td>
          <td><%= p.industry %></td>
          <td><%= p.tags %></td>
          <td><%= p.start_date.to_date %></td>
          <td><%= p.end_date.to_date %></td>
          <td>$<%= p.budget %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <%= will_paginate @projects, :param_name => 'page', renderer: BootstrapPagination::Rails %>
</div>
