<div class="container">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-6">
      <%= render "form_show", {:project => @project} %>
    </div>
    <div class="col-lg-4">
      <legend class="text-left">Who bid this project</legend>
      <% if @project.bid_projects.size > 0 %>
        <ul class="list-group">
          <% @project.bid_projects.each do |p| %>
            <%= link_to "#{p.user.display_anonymous_name} - $#{p.cost}", freelancer_path(p.user), :method => :get, :class => "list-group-item" %>
          <% end %>
        </ul>
      <% else %>
        No bidding yet <br /><br />
      <% end %>
      <% if @project.consultant %>
        <legend class="text-left">Project Assignment</legend>
        This project is successfully assigned to <%= link_to @project.consultant.display_anonymous_name, freelancer_path(@project.consultant), :method => :get %>
      <% else %>
        <% if current_user %>
          <% unless @project.bid_by_user current_user %>
            <% if current_user.type.name != "employer" %>
              <legend class="text-left">Bid this project</legend>
              <%= render "bid_form", {:project => @project.bid_projects.new(:user => current_user || nil), :action => "post_bid", :lowest_bid => @project.lowest_bid } %>
            <% end %>
          <% else %>
            You already bid this project with the cost of $<%= @project.bid_projects.where("user_id = ?", current_user.id).first.cost %>
          <% end %>
        <% else %>
           <a href="<%= detail_project_path(@project) %>" class="btn btn-danger">Sign in to bid</a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>