<form class='form-horizontal' >   
  <fieldset>
    <legend class="text-left"><%= profile.user.display_name %></legend>
    <div class="form-group">
      <label class="col-md-3 control-label">First Name</label>
      <div class="col-md-9 top-seven">
        : <%= profile.first_name %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">Last Name</label>
      <div class="col-md-9 top-seven">
        : <%= profile.last_name %>
      </div>
    </div>    

    <div class="form-group">
      <label class="col-md-3 control-label">Sex</label>
      <div class="col-md-9 top-seven">
       : <%= profile.sex %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" for="name">Company</label>
      <div class="col-md-9 top-seven">
        : <%= profile.company || "" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" >Date Of Birth</label>
      <div class="col-md-9 top-seven">
        : <%= profile.dob || "" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label">Phone Number</label>
      <div class="col-md-9 top-seven">
       : <%= profile.phone_number %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" >Address</label>
      <div class="col-md-9 top-seven">
        : <%= profile.address %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" >A Brief Bio</label>
      <div class="col-md-9 top-seven">
        : <%= profile.description %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label" >Skill</label>
      <div class="col-md-9 top-seven">
        : <%= profile.skill %>
      </div>
    </div>

    <!-- Form actions -->
    <div class="form-group">
      <label class="col-md-3 control-label" ></label>
      <div class="col-md-9">
        <%= link_to "Edit profile", edit_admin_employer_path(profile.user), :method => :get, :class => "btn btn-success" %>
        <%= link_to "Cancel", admin_employers_path(), :method => :get, :class => "btn btn-danger" %>
      </div>
    </div>
        
  </fieldset>
</form>
