<div class="container">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-6">
      <%= render "form", {:profile => @profile, :action => "update"} %>
    </div>
    <div class="col-lg-4">
      <legend class="text-left">Project Post</legend>
        <% if @profile.user.projects.size > 0 %>
          <ul class="list-group">
            <% @profile.user.projects.each do |p| %>
              <%= link_to "#{p.name} - $#{p.budget}", admin_project_path(p), :method => :get, :class => "list-group-item" %>
            <% end %>
          </ul>
        <% else %>
          Not yet post any project yet
        <% end %>
    </div>
  </div>
</div>