<div class="container">
  <div class="col-md-9 col-md-offset-1">
    <%= form_for(@profile, :url => {:action => "update"} , :html => {:class => 'form-horizontal', multipart: true} ) do |f| %>       
      <div class="row">
        <div class="col-lg-2">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
              <img src="/profile/<%= @profile.photo_path %>" data-src="holder.js/100%x100%" alt="...">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
            <div>
              <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input name="fileupload" type="file" name="..."></span>
              <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
            </div>
          </div>
        </div>
        <div class="col-lg-10">  
          <fieldset>
            <div class="form-group">
              <label class="col-md-4 control-label" for="name">First Name</label>
              <div class="col-md-8">
                <%= f.text_field :first_name, :class =>"form-control", :required => "required", :placeholder => "Your first name" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Last Name</label>
              <div class="col-md-8">
                <%= f.text_field :last_name, :class =>"form-control", :required => "required", :placeholder => "Your last name" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Sex</label>
              <div class="col-md-8">
                <%= f.select(:sex, options_for_select(Profile::SEX.collect {|key,value| [key,value] }, f.object.sex), {},{ :class => 'form-control' }) %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Company</label>
              <div class="col-md-8">
                <%= f.text_field :company, :class =>"form-control", :required => "required", :placeholder => "Your company name" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Skill</label>
              <div class="col-md-8">
                <%= f.select(:skill, options_for_select(Industry::INDUSTRY.collect {|key,value| [key,value] }, f.object.skill), {},{ :class => 'form-control', :onchange => 'queryPosition(this)' }) %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Date Of Birth</label>
              <div class="col-md-8">
                <%= f.text_field :dob, :class =>"form-control datepicker", :required => "required", :placeholder => "Your date of birth" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Phone Number</label>
              <div class="col-md-8">
                <%= f.text_field :phone_number, :class =>"form-control", :required => "required", :placeholder => "Your primary phone number" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Address</label>
              <div class="col-md-8">
                <%= f.text_area :address, :class =>"form-control", :required => "required", :placeholder => "Your current address" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Additional information</label>
              <div class="col-md-8">
                <%= f.text_area :description, :class =>"form-control", :required => "required", :placeholder => "Please enter your profile description here..." %>
              </div>
            </div>    

            <!-- Form actions -->
            <div class="form-group">
              <label class="col-md-4"></label>
              <div class="col-md-8">
                <button class="btn btn-success">Update Profile</button>  <a href="<%= employers_path() %>" class="btn btn-danger">Cancel</a>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
    $('.datepicker').datepicker({format: 'dd-mm-yyyy'})
</script>