<div class="container">
  <div class="pull-right right-menu" style="padding-right:15px;">
    <%= link_to " Post More Project", new_project_path(), :method => :get %> |
    <%= link_to " Support ", contact_us_path(), :method => :get %>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <center>
        <img src="/profile/<%= @user.profile.photo_path %>" name="aboutme" width="200" height="150">
		  </center>
      <h3><%= @user.display_name %></h3>
      <label> <%= @user.profile.sex || "--" %> </label><br/>
      <label> Employer </label><br/>
      <label> Company : <%= @user.profile.company || "--"%> </label><br/>
      <label> Skill : <%= @user.profile.skill || "--"%> </label><br/>
      <a href="mailto:<%= current_user.email %>"><label><%= @user.email %></label></a><br/>
      <label> <%= @user.profile.phone_number || ""%> </label><br />
      <a type="button" class="btn btn-labeled btn-primary" href="<%= edit_employer_path(@user) %>">
        <span class="btn-label"><i class="glyphicon glyphicon-cog"></i></span>
        Edit
      </a>
    </div>
    <div class="col-lg-9">
      <h4> My Projects </h4>
      <div class="well">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Project</th>
            <th>Freelancer</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Budget</th>
            <th></th>
          </thead>
          <% if current_user.projects.size > 0 %>
            <% current_user.projects.each do |p| %>     
              <tbody>
                <tr>
                  <td><%= link_to p.name, project_path(p), :method => :get %></td>
                  <td><%= p.consultant_name %></td>
                  <td><%= p.start_date.to_date %></td>
                  <td><%= p.end_date.to_date %></td>
                  <td>$<%= p.budget %></td>
                  <td>
                    <%= link_to raw("<span class='glyphicon glyphicon-edit'></span> Edit"), edit_project_path(p), :method => :get, :class => 'btn btn-info btn-xs' %>
                    <%= link_to raw("<span class='glyphicon glyphicon-remove'></span> Del"), project_path(p), :method => :delete, :class => 'btn btn-danger btn-xs' %>
                  </td>
                </tr>
              </tbody>
            <% end %>
          <% else %>

          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>