<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(current_user, :url => update_password_admin_internal_users_path(current_user), :method => :put , :html => {:class => 'form-horizontal'} ) do |f| %>       
        <fieldset>
          <legend class="text-left">Change Password</legend>
          <div class="alert alert-info">
            After you reset your password, you will automatically logout.
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Current Password</label>
            <div class="col-md-8">
              <%= f.password_field :current_password, :class =>"form-control", :required => "required", :placeholder => "Your current password" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Password</label>
            <div class="col-md-8">
              <%= f.password_field :password, :class =>"form-control", :required => "required", :placeholder => "Your new password" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Confirmation Password</label>
            <div class="col-md-8">
              <%= f.password_field :password_confirmation, :class =>"form-control", :required => "required", :placeholder => "Your new confirmation password" %>
            </div>
          </div>

          <!-- Form actions -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="name"></label>
            <div class="col-md-8">
              <button class="btn btn-success">Update Password</button>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>

<script>
    $('.datepicker').datepicker({format: 'mm-dd-yyyy'})
</script>