<div class="container">
	<div class="row">
		<div class="span5">
      <table id="mytable" class="table table-border table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <th>Full name</th>
                <th>Role</th>
                <th>Member since</th>
                <th></th>                                          
            </tr>
        </thead>   
        <% if @user.size > 0 %>
          <% @user.each do |p| %>     
            <tbody>
              <tr>
                <td><%= link_to p.email, admin_internal_user_path(p), :method => :get %></td>
                <td><%= p.profile.first_name %> <%= p.profile.last_name %></td>
                <td><%= p.type.name %></td>
                <td><%= p.created_at %></td>
                <td>
                  <%= link_to raw("<span class='glyphicon glyphicon-edit'></span> Edit"), edit_admin_internal_user_path(p), :method => :get, :class => 'btn btn-info btn-xs' %>
                  <%= link_to raw("<span class='glyphicon glyphicon-remove'></span> Del"), admin_internal_user_path(p), :method => :delete, :class => 'btn btn-danger btn-xs' %>
                </td>
              </tr>
            </tbody>
          <% end %>
        <% else %>
          No employee registered
        <% end %>
      </table>
    </div>
	</div>
</div>