<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(current_user.profile, :url => admin_internal_user_path(current_user), :method => :put , :html => {:class => 'form-horizontal'} ) do |f| %>       
        <fieldset>
          <legend class="text-left">My Profile</legend>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">First Name</label>
            <div class="col-md-8">
              <%= f.text_field :first_name, :class =>"form-control", :required => "required", :placeholder => "Your first name" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Last Name</label>
            <div class="col-md-8">
              <%= f.text_field :last_name, :class =>"form-control", :required => "required", :placeholder => "Your last name" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Sex</label>
            <div class="col-md-8">
              <%= f.select(:sex, options_for_select(Profile::SEX.collect {|key,value| [key,value] }, f.object.sex), {},{ :class => 'form-control' }) %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Date Of Birth</label>
            <div class="col-md-8">
              <%= f.text_field :dob, :class =>"form-control datepicker", :required => "required", :placeholder => "Your date of birth" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Position</label>
            <div class="col-md-8">
              <%= f.select(:position, options_for_select(Profile::POSITION.collect {|key,value| [key,value] }, f.object.position), {},{ :class => 'form-control' }) %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Phone Number</label>
            <div class="col-md-8">
              <%= f.text_field :phone_number, :class =>"form-control", :required => "required", :placeholder => "Your primary phone number" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Address</label>
            <div class="col-md-8">
              <%= f.text_area :address, :class =>"form-control", :required => "required", :placeholder => "Your current address" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">A Brief Bio</label>
            <div class="col-md-8">
              <%= f.text_area :description, :class =>"form-control", :required => "required", :placeholder => "Please enter your profile description here..." %>
            </div>
          </div>    

          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Skill</label>
            <div class="col-md-8">
              <%= f.text_field :skill, :class =>"form-control", :required => "required", :placeholder => "Your professional skills" %>
            </div>
          </div>

          <!-- Form actions -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="name"></label>
            <div class="col-md-8">
              <button class="btn btn-success">Update Profile</button> <a href="<%= admin_projects_path() %>" class="btn btn-danger">Cancel</a>
            </div>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>

<script>
    $('.datepicker').datepicker({format: 'mm-dd-yyyy'})
</script>