<form class='form-horizontal' >   
  <div class="row">
    <legend class="text-left"><%= profile.user.display_name %></legend>
    <div class="col-lg-4">
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
          <img src="/profile/<%= @profile.photo_path %>" data-src="holder.js/100%x100%" alt="...">
        </div>
      </div>
    </div>
    <div class="col-lg-8">  
      <fieldset>
        <div class="form-group">
          <label class="col-md-3 control-label">Name</label>
          <div class="col-md-9 top-seven">
            : <%= profile.user.display_anonymous_name %>
          </div>
        </div>   

        <div class="form-group">
          <label class="col-md-3 control-label">Sex</label>
          <div class="col-md-9 top-seven">
           : <%= profile.sex %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label" >Skill</label>
          <div class="col-md-9 top-seven">
            : <%= profile.skill %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-3 control-label" >A Brief Bio</label>
          <div class="col-md-9 top-seven">
            : <%= profile.description %>
          </div>
        </div>

        <% if current_user and current_user.type.name == "admin"%>
          <div class="form-group">
            <label class="col-md-3 control-label" >Date Of Birth</label>
            <div class="col-md-9 top-seven">
              : <%= profile.dob.strftime("%d-%m-%Y") || "" %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label" >Position</label>
            <div class="col-md-9 top-seven">
              : <%= profile.position %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label">Phone Number</label>
            <div class="col-md-9 top-seven">
             : <%= profile.phone_number %>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label" >Address</label>
            <div class="col-md-9 top-seven">
              : <%= profile.address %>
            </div>
          </div>

          <!-- Form actions -->
          <div class="form-group">
            <label class="col-md-3 control-label" ></label>
            <div class="col-md-9">
              
            </div>
          </div>
        <% end %>
      </fieldset>
    </div>
  </div>
</form>
