<div class="container">
  <div class="pull-right right-menu" style="padding-right:15px;">
    <%= link_to " Find More Project", projects_path(), :method => :get %> |
    <%= link_to " Support ", contact_us_path(), :method => :get %>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <center>
        <img src="/profile/<%= @user.profile.photo_path %>" name="aboutme" width="200" height="150">
		  </center>
      <h3><%= @user.display_name %></h3>
      <label> <%= @user.profile.sex || "--" %> </label><br/>
      <label> Freelancer </label><br/>
      <label> Skill : <%= @user.profile.skill || "--"%> </label><br/>
      <a href="mailto:<%= current_user.email %>"><label><%= @user.email %></label></a><br/>
      <label> <%= @user.profile.phone_number || ""%> </label><br />
      <a type="button" class="btn btn-labeled btn-primary" href="<%= edit_freelancer_path(@user) %>">
        <span class="btn-label"><i class="glyphicon glyphicon-cog"></i></span>
        Edit
      </a>
      
      
    </div>
    <div class="col-lg-6">
      <h4> My Projects </h4>
      <div class="well">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Project</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Cost</th>
          </thead>
          <% current_user.consult_projects.each do |p| %>     
            <tbody>
              <tr>
                <td><%= link_to p.name, project_path(p), :method => :get %></td>
                <td><%= p.start_date.to_date %></td>
                <td><%= p.end_date.to_date %></td>
                <td>$<%= p.consultant_cost %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
      <h4> My Bidding Projects </h4>
      <div class="well">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>Project</th>
            <th>Start date</th>
            <th>Project Budget</th>
            <th>Bidding Cost</th>
          </thead>
          <% current_user.bid_projects.each do |p| %>     
            <tbody>
              <tr>
                <td><%= link_to p.project.name, project_path(p.project), :method => :get %></td>
                <td><%= p.project.start_date.to_date %></td>
                <td>$<%= p.project.budget %></td>
                <td>$<%= p.cost %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-lg-3">
      <h4> Project you may interested </h4>
        <ul class="list-group">
          <% @latest_projects.each do |p| %>
            <%= link_to p.name, project_path(p), :method => :get, :class => "list-group-item" %>
          <% end %>
        </ul>
    </div>
  </div>
</div>