<!DOCTYPE html>
<html>
  <head>
    <title>Sabay Trade</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jasny", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "jasny", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
		<%= tinymce_assets %>

  </head>
  <body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Sabay Trade</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class=<%= section_active("admin/projects")  %>><%= link_to raw("<span class='glyphicon glyphicon-file'></span> Projects"), admin_projects_path(), :method => :get %> </li>
						<li class=<%= section_active("admin/employers")  %>><%= link_to raw("<span class='glyphicon glyphicon-user'></span> Employers"), admin_employers_path(), :method => :get %></li>
						<li class=<%= section_active("admin/freelancers")  %>><%= link_to raw("<span class='glyphicon glyphicon-user'></span> Freelancers"), admin_freelancers_path(), :method => :get %></li>
						<li class=<%= section_active("admin/internal_users")  %>><%= link_to raw("<span class='glyphicon glyphicon-cog'></span> Settings"), admin_internal_users_path(), :method => :get %></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= current_user.email %> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="<%= my_profile_admin_internal_users_path() %>">My Profile</a></li>
								<li><a href="<%= change_password_admin_internal_users_path() %>">Change Password</a></li>
								<li class="divider"></li>
								<li><%= link_to " Sign Out ", destroy_user_session_path(), :method => :delete %></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<br />
		<center>
			<% if flash[:error] -%>
				<button id="autoclosable-btn-danger" class="btn btn-primary btn-danger btn-block">
				  <%=h flash[:error] %>
				</button>
			<% end -%>
			<% if flash[:notice] -%>
				<button id="autoclosable-btn-info" class="btn btn-primary btn-info btn-block">
				  <%=h flash[:notice] %>
			  </button>
			<% end -%>
		</center>
		<%= yield %>
		<hr class="hrfooter" />
    <footer class="footer-page">
      <center>&copy; SabayTrade / ALL RIGHTS RESERVED 2015</center>
    </footer>
  </body>
</html>