<!DOCTYPE html>
<html>
	<head>
	  <title>Sabay Trade</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "datepicker", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "bootstrap-datepicker", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jasny", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "jasny", media: "all", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
    <div class="navbar">
      <div class="navbar-inner sabay-header">
        <div class="hearder_narrow">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </a>
          <a class="brand" href="/" name="top">
            <img src="/logo.png" alt="..." class="img-rounded">
          </a>
          <% unless current_user %>
            <div class="pull-right right-menu" style="padding-right:10px;">
              <%= link_to " ABOUT US", about_us_path(), :method => :get, :style => 'color:grey;padding-right:5px;' %> 
              <%= link_to " CONTACT US", contact_us_path(), :method => :get, :style => 'color:grey;padding-right:5px;' %> 
              <a href="<%= new_user_session_path() %>" class="btn btn-danger">Sign In</a>
            </div>
          <% else %>
            <div class="pull-right right-menu" style="padding-right:10px;">
              Welcome <%= link_to current_user.display_name, "#", :method => :get, :style => 'color:white;padding-right:5px;' %>
              <%= link_to " Sign Out ", destroy_user_session_path(), :method => :delete, :class => "btn btn-danger" %>
            </div>
          <% end %>
        <!--/.nav-collapse -->
        </div>
      <!--/.container-fluid -->
      </div>
    <!--/.navbar-inner -->
    </div>
    <%= yield %>
    <div style="clear:both;"></div>
    <hr class="hrfooter" />
    <footer class="footer-page">
      <center>&copy; SabayTrade / ALL RIGHTS RESERVED 2015</center>
    </footer>
	</body>
</html>
